#include <dt-bindings/zmk/matrix_transform.h> 
#include "tpl412-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &layout_0;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&blackpill 29 GPIO_ACTIVE_HIGH>
            , <&blackpill 28 GPIO_ACTIVE_HIGH>
            , <&blackpill 27 GPIO_ACTIVE_HIGH>
            , <&blackpill 26 GPIO_ACTIVE_HIGH>
            , <&blackpill 25 GPIO_ACTIVE_HIGH>
            , <&blackpill 10 GPIO_ACTIVE_HIGH>
            , <&blackpill 11 GPIO_ACTIVE_HIGH>
            , <&blackpill 12 GPIO_ACTIVE_HIGH>
            , <&blackpill 13 GPIO_ACTIVE_HIGH>
            , <&blackpill 14 GPIO_ACTIVE_HIGH>
            , <&blackpill 15 GPIO_ACTIVE_HIGH>
            , <&blackpill 16 GPIO_ACTIVE_HIGH>
            , <&blackpill 17 GPIO_ACTIVE_HIGH>
            , <&blackpill 18 GPIO_ACTIVE_HIGH>
            , <&blackpill 19 GPIO_ACTIVE_HIGH>
            , <&blackpill 21 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&blackpill 46 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 45 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 43 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 42 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 41 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 40 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 39 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&blackpill 38 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>; // Length of the "col-gpios" array
        rows = <8>; // Length of the "row-gpios" array
        map = <
        //  Esc   F1     F2     F3     F4      F5     F6     F7     F8      F9     F10     F11     F12      ins   del   home   end
        //  Grave   1       2       3       4       5        6       7       8       9        0        -        =      backspace
        //  tab      q       w       e       r       t        y       u       i       o        p        [        ]         \
        //  caps       a       s       d       f       g        h       j       k       l        ;        '         enter
        //  lshift         z       x       c       v       b        n       m       ,       .        /           rshift
        //  fn    lctrl   lgui   lalt                    space                     ralt    menu    rctrl   pgup     up       pgdn
        //                                                                                                 left     down     right
            RC(7,1)   RC(6,4) RC(6,3) RC(0,3) RC(7,3)  RC(7,14) RC(7,8) RC(0,6) RC(6,6)  RC(6,14) RC(4,14) RC(4,12) RC(4,11)  RC(6,12) RC(4,13) RC(4,15) RC(6,15)
            RC(6,1)   RC(4,1)  RC(4,4)  RC(4,3)  RC(4,5)    RC(6,5)  RC(6,2)  RC(4,2)  RC(4,8)    RC(4,6)    RC(4,7)    RC(6,7)    RC(6,8)          RC(0,14)
            RC(0,1)      RC(5,1)  RC(5,4)  RC(5,3)  RC(5,5)    RC(0,5)  RC(0,2)  RC(5,2)  RC(5,8)    RC(5,6)    RC(5,7)    RC(0,7)    RC(0,8)     RC(3,14) 
            RC(0,4)       RC(3,1)  RC(3,4)  RC(3,3)  RC(3,5)    RC(7,5)  RC(7,2)  RC(3,2)  RC(3,8)    RC(3,6)    RC(3,7)    RC(7,7)        RC(2,14) 
            RC(0,0)           RC(2,1)  RC(2,4)  RC(2,3)  RC(2,5)    RC(1,5)  RC(1,2)  RC(2,2)  RC(2,8)    RC(2,6)    RC(1,7)          RC(2,0)
            RC(3,13)  RC(6,9) RC(0,11) RC(7,10)                     RC(1,14)                   RC(1,10)   RC(3,15)   RC(2,9)       RC(2,15)   RC(7,13)   RC(1,15)
                                                                                                                                   RC(1,13)   RC(1,12)   RC(1,11)
        >;
    };

};