#include <dt-bindings/zmk/matrix_transform.h>
#include "tp_l412-layouts.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &tp_l412_layout;
    };

    tp_l412_layout: tp_l412_layout {
        transform = <&default_transform>;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-composite";
        rows = <9>;
        columns = <16>;

        matrix {
            kscan = <&kscan1>;
        };

        direct {
            kscan = <&kscan2>;
            row-offset = <8>;
        };

    };
    
    kscan1: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&shift_reg 0 GPIO_ACTIVE_HIGH>
            , <&shift_reg 1 GPIO_ACTIVE_HIGH>
            , <&shift_reg 2 GPIO_ACTIVE_HIGH>
            , <&shift_reg 3 GPIO_ACTIVE_HIGH>
            , <&shift_reg 4 GPIO_ACTIVE_HIGH>
            , <&shift_reg 5 GPIO_ACTIVE_HIGH>
            , <&shift_reg 6 GPIO_ACTIVE_HIGH>
            , <&shift_reg 7 GPIO_ACTIVE_HIGH>
            , <&shift_reg 8 GPIO_ACTIVE_HIGH>
            , <&shift_reg 9 GPIO_ACTIVE_HIGH>
            , <&shift_reg 10 GPIO_ACTIVE_HIGH>
            , <&shift_reg 11 GPIO_ACTIVE_HIGH>
            , <&shift_reg 12 GPIO_ACTIVE_HIGH>
            , <&shift_reg 13 GPIO_ACTIVE_HIGH>
            , <&shift_reg 14 GPIO_ACTIVE_HIGH>
            , <&shift_reg 15 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    kscan2: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>; 
        rows = <9>; 
        // --------------------------------------------------------------------------------------------------
        // |  ESC  | F1 | F2 | F3 | F4 | F5 | F6 | F7 | F8 | F9 | F10 | F11 | F12 | INS | DEL | HOME | END  |
        // |   `   |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |     BKSP       |
        // |  TAB     |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |     \       |
        // |  LCTRL    |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |      ENTER       |
        // |  SHIFT       |  Z  |  X  |  C  |  V   |  B  |  N  |  M  |  ,  |  .  |  /  |        RSHFT       |
        // | FN | LCTRL | LGUI | LALT |             SPACE            | RALT | FN | RCTRL | PGUP | UP | PGDN |
        // ---------------------------| MS_LEFT |  MS_MID | MS_RIGHT |-------------------| LEFT | DN | RGHT |
        // --------------------------------------------------------------------------------------------------

        map = <
            RC(7,1)  RC(6,4) RC(6,3) RC(0,3) RC(7,3) RC(7,14) RC(7,8) RC(0,6) RC(6,6) RC(6,14) RC(4,14) RC(4,12) RC(4,11) RC(6,12) RC(4,13) RC(4,15) RC(6,15)
            RC(6,1)     RC(4,1)  RC(4,4)  RC(4,3)  RC(4,5)  RC(6,5)  RC(6,2)  RC(4,2)  RC(4,8)  RC(4,6)  RC(4,7)  RC(6,7)  RC(6,8)          RC(0,14)
            RC(0,1)       RC(5,1)  RC(5,4)  RC(5,3)  RC(5,5)  RC(0,5)  RC(0,2)  RC(5,2)  RC(5,8)  RC(5,6)  RC(5,7)  RC(0,7)  RC(0,8)     RC(3,14) 
            RC(0,4)         RC(3,1)  RC(3,4)  RC(3,3)  RC(3,5)  RC(7,5)  RC(7,2)  RC(3,2)  RC(3,8)  RC(3,6)  RC(3,7)  RC(7,7)       RC(2,14) 
            RC(0,0)            RC(2,1)  RC(2,4)  RC(2,3)  RC(2,5)  RC(1,5)  RC(1,2)  RC(2,2)  RC(2,8)  RC(2,6)  RC(1,7)             RC(2,0)
            RC(3,13)  RC(6,9)  RC(0,11) RC(7,10)                   RC(1,14)                   RC(1,10) RC(3,15) RC(2,9)   RC(2,15)  RC(7,13)  RC(1,15)
                                                 RC(8,0)           RC(8,1)           RC(8,2)                              RC(1,13)  RC(1,12)  RC(1,11)
        >;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels 
                = <NRF_PSEL( SPIM_SCK, 0, 17)> 
                , <NRF_PSEL(SPIM_MOSI, 0, 22)>
                , <NRF_PSEL(SPIM_MISO, 0, 20)>
                ;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels 
                = <NRF_PSEL( SPIM_SCK, 0, 17)> 
                , <NRF_PSEL(SPIM_MOSI, 0, 22)>
                , <NRF_PSEL(SPIM_MISO, 0, 20)>
                ;
            low-power-enable;
        };
    };
};

board_spi: &spi0 {
  status = "okay";
  compatible = "nordic,nrf-spim";
  pinctrl-0 = <&spi0_default>;
  pinctrl-1 = <&spi0_sleep>;
  pinctrl-names = "default", "sleep";
  cs-gpios = <&pro_micro 5 GPIO_ACTIVE_LOW> ;

  shift_reg: 595@0 {
    compatible = "zmk,gpio-595";
    status = "okay";
    gpio-controller;
    spi-max-frequency = <4000000>;
    #gpio-cells = <2>;
    reg = <0>;
    ngpios = <16>;
  };
};