#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    tp_l412_layout: tp_l412_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs  85  75    0    0       0     0     0>
            , <&key_physical_attrs  85  75   95    0       0     0     0>
            , <&key_physical_attrs  85  75  180    0       0     0     0>
            , <&key_physical_attrs  85  75  265    0       0     0     0>
            , <&key_physical_attrs  85  75  350    0       0     0     0>
            , <&key_physical_attrs  85  75  445    0       0     0     0>
            , <&key_physical_attrs  85  75  530    0       0     0     0>
            , <&key_physical_attrs  85  75  615    0       0     0     0>
            , <&key_physical_attrs  85  75  700    0       0     0     0>
            , <&key_physical_attrs  85  75  795    0       0     0     0>
            , <&key_physical_attrs  85  75  880    0       0     0     0>
            , <&key_physical_attrs  85  75  965    0       0     0     0>
            , <&key_physical_attrs  85  75 1050    0       0     0     0>
            , <&key_physical_attrs  85  75 1145    0       0     0     0>
            , <&key_physical_attrs  90  75 1230    0       0     0     0>
            , <&key_physical_attrs  90  75 1320    0       0     0     0>
            , <&key_physical_attrs  90  75 1410    0       0     0     0>
            , <&key_physical_attrs 100 100    0   75       0     0     0>
            , <&key_physical_attrs 100 100  100   75       0     0     0>
            , <&key_physical_attrs 100 100  200   75       0     0     0>
            , <&key_physical_attrs 100 100  300   75       0     0     0>
            , <&key_physical_attrs 100 100  400   75       0     0     0>
            , <&key_physical_attrs 100 100  500   75       0     0     0>
            , <&key_physical_attrs 100 100  600   75       0     0     0>
            , <&key_physical_attrs 100 100  700   75       0     0     0>
            , <&key_physical_attrs 100 100  800   75       0     0     0>
            , <&key_physical_attrs 100 100  900   75       0     0     0>
            , <&key_physical_attrs 100 100 1000   75       0     0     0>
            , <&key_physical_attrs 100 100 1100   75       0     0     0>
            , <&key_physical_attrs 100 100 1200   75       0     0     0>
            , <&key_physical_attrs 200 100 1300   75       0     0     0>
            , <&key_physical_attrs 150 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  150  175       0     0     0>
            , <&key_physical_attrs 100 100  250  175       0     0     0>
            , <&key_physical_attrs 100 100  350  175       0     0     0>
            , <&key_physical_attrs 100 100  450  175       0     0     0>
            , <&key_physical_attrs 100 100  550  175       0     0     0>
            , <&key_physical_attrs 100 100  650  175       0     0     0>
            , <&key_physical_attrs 100 100  750  175       0     0     0>
            , <&key_physical_attrs 100 100  850  175       0     0     0>
            , <&key_physical_attrs 100 100  950  175       0     0     0>
            , <&key_physical_attrs 100 100 1050  175       0     0     0>
            , <&key_physical_attrs 100 100 1150  175       0     0     0>
            , <&key_physical_attrs 100 100 1250  175       0     0     0>
            , <&key_physical_attrs 150 100 1350  175       0     0     0>
            , <&key_physical_attrs 175 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  175  275       0     0     0>
            , <&key_physical_attrs 100 100  275  275       0     0     0>
            , <&key_physical_attrs 100 100  375  275       0     0     0>
            , <&key_physical_attrs 100 100  475  275       0     0     0>
            , <&key_physical_attrs 100 100  575  275       0     0     0>
            , <&key_physical_attrs 100 100  675  275       0     0     0>
            , <&key_physical_attrs 100 100  775  275       0     0     0>
            , <&key_physical_attrs 100 100  875  275       0     0     0>
            , <&key_physical_attrs 100 100  975  275       0     0     0>
            , <&key_physical_attrs 100 100 1075  275       0     0     0>
            , <&key_physical_attrs 100 100 1175  275       0     0     0>
            , <&key_physical_attrs 225 100 1275  275       0     0     0>
            , <&key_physical_attrs 225 100    0  375       0     0     0>
            , <&key_physical_attrs 100 100  225  375       0     0     0>
            , <&key_physical_attrs 100 100  325  375       0     0     0>
            , <&key_physical_attrs 100 100  425  375       0     0     0>
            , <&key_physical_attrs 100 100  525  375       0     0     0>
            , <&key_physical_attrs 100 100  625  375       0     0     0>
            , <&key_physical_attrs 100 100  725  375       0     0     0>
            , <&key_physical_attrs 100 100  825  375       0     0     0>
            , <&key_physical_attrs 100 100  925  375       0     0     0>
            , <&key_physical_attrs 100 100 1025  375       0     0     0>
            , <&key_physical_attrs 100 100 1125  375       0     0     0>
            , <&key_physical_attrs 275 100 1225  375       0     0     0>
            , <&key_physical_attrs 100 100    0  475       0     0     0>
            , <&key_physical_attrs 125 100  100  475       0     0     0>
            , <&key_physical_attrs  90 100  225  475       0     0     0>
            , <&key_physical_attrs 100 100  315  475       0     0     0>
            , <&key_physical_attrs 510 100  415  475       0     0     0>
            , <&key_physical_attrs 100 100  925  475       0     0     0>
            , <&key_physical_attrs 100 100 1025  475       0     0     0>
            , <&key_physical_attrs 100 100 1125  475       0     0     0>
            , <&key_physical_attrs  91 100 1225  475       0     0     0>
            , <&key_physical_attrs  91 100 1316  475       0     0     0>
            , <&key_physical_attrs  91 100 1407  475       0     0     0>
            , <&key_physical_attrs 200 100  415  575       0     0     0>
            , <&key_physical_attrs 110 100  615  575       0     0     0>
            , <&key_physical_attrs 200 100  725  575       0     0     0>
            , <&key_physical_attrs  91 100 1225  575       0     0     0>
            , <&key_physical_attrs  91 100 1316  575       0     0     0>
            , <&key_physical_attrs  91 100 1407  575       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        tp_l412_layout {
            physical-layout = <&tp_l412_layout>;
            positions = <>;
        };
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>; 
        rows = <9>; 
        // --------------------------------------------------------------------------------------------------
        // |  ESC  | F1 | F2 | F3 | F4 | F5 | F6 | F7 | F8 | F9 | F10 | F11 | F12 | INS | DEL | HOME | END  |
        // |   `   |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |     BKSP       |
        // |  TAB     |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |     \       |
        // |  LCTRL    |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |      ENTER       |
        // |  SHIFT       |  Z  |  X  |  C  |  V   |  B  |  N  |  M  |  ,  |  .  |  /  |        RSHFT       |
        // | FN | LCTRL | LGUI | LALT |             SPACE            | RALT | FN | RCTRL | PGUP | UP | PGDN |
        // ---------------------------| MS_LEFT |  MS_MID | MS_RIGHT |-------------------| LEFT | DN | RGHT |
        // --------------------------------------------------------------------------------------------------

        map = <
            RC(7,1)  RC(6,4) RC(6,3) RC(0,3) RC(7,3) RC(7,14) RC(7,8) RC(0,6) RC(6,6) RC(6,14) RC(4,14) RC(4,12) RC(4,11) RC(6,12) RC(4,13) RC(4,15) RC(6,15)
            RC(6,1)     RC(4,1)  RC(4,4)  RC(4,3)  RC(4,5)  RC(6,5)  RC(6,2)  RC(4,2)  RC(4,8)  RC(4,6)  RC(4,7)  RC(6,7)  RC(6,8)          RC(0,14)
            RC(0,1)       RC(5,1)  RC(5,4)  RC(5,3)  RC(5,5)  RC(0,5)  RC(0,2)  RC(5,2)  RC(5,8)  RC(5,6)  RC(5,7)  RC(0,7)  RC(0,8)     RC(3,14) 
            RC(0,4)         RC(3,1)  RC(3,4)  RC(3,3)  RC(3,5)  RC(7,5)  RC(7,2)  RC(3,2)  RC(3,8)  RC(3,6)  RC(3,7)  RC(7,7)       RC(2,14) 
            RC(0,0)            RC(2,1)  RC(2,4)  RC(2,3)  RC(2,5)  RC(1,5)  RC(1,2)  RC(2,2)  RC(2,8)  RC(2,6)  RC(1,7)             RC(2,0)
            RC(3,13)  RC(6,9)  RC(0,11) RC(7,10)                   RC(1,14)                   RC(1,10) RC(3,15) RC(2,9)   RC(2,15)  RC(7,13)  RC(1,15)
                                                 RC(8,0)           RC(8,1)           RC(8,2)                              RC(1,13)  RC(1,12)  RC(1,11)
        >;
    };
};